footer {
    text-align: center;
}

header {
    margin: 2em;
}

.qh1,
.qh2,
.highlight {
    font-weight: 500;
}

.qh1,
.highlight {
    text-transform: uppercase;
}

.qh2,
.highlight {
    font-size: xx-large;
}

.col,
footer,
footer p {
    padding: 1em;
}

.highlight-bg {
    background-color: rgb(234, 244, 219);
    padding: 2em;
    height: 300px;
    margin-bottom: 2em;
     
}

.carousel-item {
    height: 400px;
}

.col {
    border-radius: 15px;
    margin: 1em;
}

footer {
    background-color: rgb(234, 244, 219);
    margin-top: 1em;

}

footer p {
    margin: 0;
}